---
trigger: always_on
---

Do not open a browser unless you are explicitly instructed to.
