:root {
  --carousel-color-text: #fff;
  --carousel-color-bg: #181717;
  --carousel-color-link: #ffffff;
  --carousel-color-link-hover: rgba(255, 255, 255, 0.6);
  --carousel-aspect: 4/5;
  --carousel-border-radius: 4px;
}

.scene-wrapper {
  position: relative;
  z-index: 5;
}

.scene {
  perspective: 900px;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.scene__title {
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

.scene__title a {
  display: block;
  color: white;
  text-decoration: none;
}

.scene__title span {
  display: inline-block;
}

.scene__title .char {
  display: inline-block;
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
}

.carousel {
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -200px;
  position: absolute;
  transform-style: preserve-3d;
  will-change: transform;
  transform: translateZ(-550px) rotateY(0deg);
}

.carousel__cell {
  position: absolute;
  width: 350px;
  height: 420px;
  left: 25px;
  top: 40px;
  transform-style: preserve-3d;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.card__face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  border-radius: var(--carousel-border-radius);
}

.card__face--back {
  transform: rotateY(180deg);
}

/* Preview Grid */
.preview-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10vw 5vw;
  display: grid;
  align-content: start;
  grid-row-gap: 2rem;
  opacity: 0;
  pointer-events: none;
  background: var(--carousel-color-bg);
}

.preview__header {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 1;
}

.preview__title {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.preview__close {
  background: none;
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.preview__close:hover {
  color: var(--carousel-color-link-hover);
}

@media screen and (min-width: 64rem) {
  .preview {
    padding: 5vw;
  }

  /* prototyping */
  .product-preview {
    display: grid;
    gap: 1.5rem 2rem;
    grid-template-areas:
      'slider description'
      'slider experience';
    grid-template-columns: 30vw 1fr;
    grid-template-rows: auto 1fr;
  }

  .product-carousel {
    grid-area: slider;
  }

  .product-info {
    grid-area: description;
  }

  .product-experience {
    grid-area: experience;
  }
}
