@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5?styles=103510');

:root {
  --gutter-size: 24px;

  @media screen and (min-width: 536px) {
    --gutter-size: 40px;
  }
}

html {
  box-sizing: border-box;
  background: #000000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;

  @media screen and (max-width: 535px) {
    background-position: right;
  }

  &.webp {
    background-image: url(wallpaper.webp);
  }

  &.no-js,
  &.no-webp {
    background-image: url(wallpaper.jpg);
  }
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: 536px) {
    font-size: 18px;
  }
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

p {
  line-height: 150%;
}

a {
  color: inherit;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.page-width {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}

section {
  margin: 0 var(--gutter-size);

  &.hero {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-title {
  margin-bottom: 24px;
}

.hero-center {
  margin-top: auto;
  margin-bottom: auto;
}

.scroll-down {
  text-decoration: none;
  margin-bottom: var(--gutter-size);
}

.logo {
  width: 265px;
  height: auto;
}

footer {
  font-size: 0;
  padding: var(--gutter-size);
  padding-top: calc(var(--gutter-size) * 2);
  text-align: right;
}

.instagram-link {
  display: inline-block;

  &:hover {
    opacity: 0.65;
  }
}

.instagram-icon {
  width: 40px;
  height: 100%;
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.releases {
  padding-top: var(--gutter-size);
  padding-bottom: var(--gutter-size);
}

.release {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gutter-size);
  }

  + .release {
    margin-top: calc(var(--gutter-size) * 1.5);
  }
}

.release-links {
  margin-top: 8px;

  a + a {
    margin-left: 4px;
  }
}

.release-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1.sr-only {
  font-size: 0;
}
