* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  width: 100%;
  height: 100%;
  background: #000000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

@media (max-width: 535px) {
  html {
    background-position: right;
  }
}

html.webp {
  background-image: url(../assets/wallpaper.webp);
}

html.no-js,
html.no-webp {
  width: 100%;
  height: 100%;
  background-image: url(../assets/wallpaper.jpg);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
}

.logo {
  width: 265.13px;
  max-width: 100%;
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0;
}

@media (min-width:536px) {
  footer {
    bottom: auto;
    right: auto;
    top: 20px;
    left: 20px;
  }
}

.instagram-link {
  display: inline-block;
}

.instagram-icon {
  width: 30px;
  height: 100%;
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.instagram-icon:hover {
  opacity: 0.7;
}

/* wip */
.sandbox {
  background-color: grey;
  padding: 20px;
  margin: auto;
  width: 300px;
  height: 300px;
}

.dot {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
